@font-face {
    font-family: "Arial";
    src: url("../fonts/arial/arial-bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Arial";
    src: url("../fonts/arial/arial-regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Georgia";
    src: url("../fonts/georgia/georgia-regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Georgia";
    src: url("../fonts/georgia/georgia-bold.ttf");
    font-weight: bold;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

/* ---HEADER---*/

header {
    position: relative;
    background: transparent;
    width: 100%;
    padding: 30px 0;
    background-color: #FFFFFF;;
}

.content_container {
    max-width: 1280px;
    padding: 0 40px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.logo {
    letter-spacing: 0.094rem;
}

.logo a {
    display: block;
    text-decoration: none;
}

.logo_title {
    margin-bottom: 8px;
    font: 400 32px 'Georgia';
    color: #545454;
    letter-spacing: 0.06em;
}

.logo_subtitle {
    padding-left: 4px;
    font: 400 13px 'Arial', sans-serif;
    color: #292929;
    letter-spacing: 0.1em;
}

.shelter_list {
    display: flex;
    margin-top: -4px;
    justify-content: space-between;
    gap: 36px;
    align-items: center;
    list-style: none;
}

.shelter_item:nth-child(2) {
    pointer-events: none;
}

.shelter_list a {
    text-decoration: none;
    font: 400 15px 'Arial', sans-serif;
    color: #545454;
    padding-bottom: 3px;
    transition: all 0.03s;
}

.shelter_list .shelter_item:nth-child(2) a {
    border-bottom: solid 3px #F1CDB3;
    color: #292929;
}

.burger_menu {
    display: none;
}
/*--SECTION "Our friends"--*/

.our_friends .content_container {
    flex-direction: column;
    max-width: 1200px;
    padding: 80px 0 0;
}

.our_friends {
    background-color: #F6F6F6;
}

.pets_card__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    max-width: 400px;
    margin: 0 0 60px;
    font: 400 35px 'Georgia';
    text-align: center;
    color: #545454;
    letter-spacing: 0.06em;
    line-height: 1.3em;
}

.pet_info {
    max-width: 270px;
    max-height: 435px;
    text-align: center;
    border-radius: 9px;
    justify-content: center;
    background-color: #FAFAFA;
    margin-bottom: 30px;
    transition: all 0.5s;
}

.pet_info__name {
    margin: 25px 0 31px;
    font: 400 20px 'Georgia';
    color: #545454;
    letter-spacing: 0.06em;
}

.our_pet {
    width: 270px;
    height: 270px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    object-fit: cover;
}

.pet_more {
    height: 52px;
    width: 187px;
    margin-bottom: 30px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    font: 400 17px 'Georgia';
    color: #292929;
    background-color: #FAFAFA;
    letter-spacing: 0.06rem;
    transition: all 0.5s;
}

.slider_btn__wrapper {
    width: 340px;
    height: 52px;
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.slider_btn__wrapper button {
    width: 52px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.slider_btn__wrapper .now {
    font: 400 20px 'Georgia';
    background-color: #F1CDB3;
    color: #292929;
    border: none;
    line-height: 0.06em;
    transition: all 0.5s;
}

.prev[disabled=disabled] {
    border: 2px solid#CDCDCD;
    pointer-events: none;
}

.prev[disabled=disabled] svg path {
    fill: #CDCDCD;
}

/*--Footer--*/

footer {
    background: url('../img/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #5B483A 0.01%, #574538 8.33%, #544337 13.54%, #4F4035 22.92%, #483B33 35.42%, #433730 46.35%, #3D332E 57.81%, #362F2B 70.83%, #2E2928 85.42%, #262425 100%);
    background-repeat: inherit;
}

footer h2 {
    font: 400 35px 'Georgia';
    color: #FFFFFF;
    letter-spacing: 0.06em;
    line-height: 45px;
    word-wrap: break-word;
}

.address h2 {
    margin-top: -3px;
}

footer p {
    font: 400 20px 'Georgia';
    color: #F1CDB3;
    letter-spacing: 0.06em;
}

.contacts {
    max-width: 279px;
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.address {
    max-width: 302px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts_item,
.address_item {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer_img {
    margin-top: 40px;
}

footer a {
    text-decoration: none;
    font: 400 20px 'Georgia';
    color: #F1CDB3;
    letter-spacing: 0.06em;
    transition: all 0.2s;
}

/*--HOOVER AND ACTIVE--*/

@media (any-hover: hover) {
    .slider_btn__wrapper button:hover {
        cursor: pointer;
        border: #FDDCC4;
        background-color: #FDDCC4;
        transition: all 0.5s;
    }

    .get_to:hover {
        cursor: pointer;
        background-color: #FDDCC4;
        transition: all 0.5s;
    }

    .shelter_item:active {
        border-bottom: 3px solid #F1CDB3;
        transition: all 0.02s;
    }

    .shelter_item:active a {
        color: #545454;
    }

    .shelter_item:hover a {
        cursor: pointer;
        transition: color 0.5s;
        color: #292929;
    }

    .pet_info:hover {
        cursor: pointer;
        background-color: #FFFFFF;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        transition: all 0.5s;
    }

    .pet_info:hover .pet_more {
        cursor: pointer;
        background-color: #FDDCC4;
        border: #FDDCC4;
        transition: all 0.5s;
    }

    .pet_info .pet_more:active {
        box-shadow: 0 5px 5px rgba(156, 156, 156, 0.5);
        transition: all 0.5s;
    }

    footer a:hover {
        text-decoration: underline;
        font-size: 20.5px;
        transition: all 0.5s;
    }
}

@media screen and (max-width: 1220px) {
    .pets_card__wrapper {
        max-height: 929px;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow: hidden;
    }
}
@media screen and (max-width: 1023.8px) and (min-width: 769px) {

    /*Header*/
    .content_container {
        max-width: 75rem;
        padding: 0 1.8rem;
        flex-wrap: wrap;
    }

    .pets_card__wrapper {
        min-width: 580px;
        max-width: 1200px;
        min-height: 930px;
        max-height: 1365px;
        width: 100%;
    }

    footer .content_container {
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 32px 65px 0;
    }

    .footer_img {
        margin: 62px auto 0;
    }
}

@media screen and (max-width: 767.8px) and (min-width: 321px) {
    .pets_card__wrapper {
        max-width: 580px;
        min-width: 270px;
        margin: 0 auto;
        height: 1365px;
        width: 100%;
        justify-content: space-around;
    }

    footer .content_container {
        flex-wrap: wrap;
        padding: 32px 65px 0;
    }

    .footer_img {
        max-width: 300px;
        min-width: 260px;
        width: 100%;
        margin: 62px auto 0;
    }
}

@media screen and (max-width: 711px) and (min-width: 321px) {
    .contacts {
        margin: 0 auto 30px;
    }

    .address {
        margin: 0 auto;
    }
}

@media screen and (max-width: 454px) and (min-width: 321px) {

    h1,
    .address h2,
    .contacts h2 {
        font-size: 30px;
    }

    .slider_btn__wrapper {
        width: 300px;
    }

    footer .content_container {
        padding: 32px 30px 0;
    }
}

@media screen and (width: 768px) {

    /*Header*/
    header .content_container {
        max-width: 768px;
        padding: 0 30px;
    }

    .logo_subtitle {
        letter-spacing: 0.1em;
    }

    .shelter_list {
        margin-bottom: 2px;
    }

    /*Our pets*/
    .pets_card__wrapper {
        max-width: 580px;
        max-height: 1365px;
        justify-content: inherit;
        overflow: hidden;
    }

    h1 {
        margin: 0 0 28px;
    }

    .slider_btn__wrapper {
        margin: 40px 0 76px;
    }

    .pet_info__name {
        margin: 27px 0 31px;
    }

    /*Footer*/
    footer .content_container {
        flex-wrap: wrap;
        padding: 32px 65px 0;
    }

    .footer_img {
        margin: 62px auto 0;
    }
}

@media screen and (max-width: 767.8px) {

    /*Header*/

    .shelter_menu {
        display: none;
    }

    .burger_menu {
        position: relative;
        display: flex;
        gap: 8px;
        width: 30px;
        z-index: 1;
        flex-direction: column;
        border: none;
        background-color: transparent;
        transition: transform 0.5s;
    }

    .burger_menu span {
        display: inline-block;
        width: 30px;
        height: 2.4px;
        background-color: #000;
        transition: all 0.5s;
    }

    /*Open*/

    header.open .burger_menu {
        transform: rotate(90deg);
        transition: transform 0.5s;
    }

    header.open .burger_menu span {
        background-color: #F1CDB3;
        transition: all 0.5s;
    }

    .shelter_menu {
        position: absolute;
        z-index: 1;
        display: block;
        width: 320px;
        height: 100vh;
        right: -320px;
        top: 0;
        padding-top: 258px;
        background-color: #292929;
        transition: all 0.5s;
    }

    .shelter_list {
        display: flex;
        flex-direction: column;
    }

    header .shelter_menu {
        transition: transform .5s;
    }

    header.open .shelter_menu {
        transform: translateX(-100%);
        transition: transform .5s;
    }

    header.open .shelter_list {
        flex-direction: column;
        gap: 40px;
    }

    header.open .shelter_list a {
        font: 400 32px 'Arial', sans-serif;
        color: #CDCDCD;
        padding-bottom: 10px;
    }

    header.open .shelter_list .shelter_item:nth-child(2) a {
        color: #FAFAFA;
    }


    header.open .shelter_item {
        margin-bottom: 20px;
    }

    header.open .shelter_item:nth-child(2) {
        margin-bottom: 16px;
    }

    header.open .shelter_item:nth-child(3) {
        margin-bottom: 14px;
    }

    header.open .shelter_item a:active {
        border-bottom: 3px solid #F1CDB3;
        color: #FFFFFF;
    }

    body:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        opacity: 0;
        z-index: 0;
        background-color: rgba(41, 41, 41, 0.6);
        transition: opacity 0.5s;
    }

    body.background:after {
        opacity: 1;
        transition: opacity 0.5s;
    }

    body.no_scroll {
        height: 100vh;
        overflow-y: hidden;
        background: rgba(41, 41, 41, 0.6);
    }
}

@media screen and (width: 320px) {
    .content_container {
        padding: 0 20px;
        flex-wrap: wrap;
    }

    .logo_subtitle {
        letter-spacing: 0.1em;
    }

    /*Our friends*/
    .our_friends .content_container {
        padding: 42px 0 0;
    }

    .pets_card__wrapper {
        justify-content: center;
        max-height: 1365px;
        overflow: hidden;
    }

    .slider_btn__wrapper {
        max-width: 300px;
        margin-top: 43px;
        margin-bottom: 42px;
    }

    h1 {
        margin-bottom: 40px;
        font-size: 25px;
    }

    /*Footer*/
    .contacts h2,
    .address h2 {
        font-size: 25px;
        text-align: center;
        line-height: 130%;
    }

    .contacts,
    .address {
        align-items: center;
    }

    .address {
        justify-content: flex-start;
        gap: 40px;
    }

    .contacts {
        gap: 37px;
        padding-top: 30px;
        padding-bottom: 38px;
    }

    .address_item {
        width: 107%;
    }

    .footer_img {
        width: 260px;
        margin: 28px auto 0;
    }
}

@media screen and (max-width: 319.8px) {
    .content_container {
        flex-wrap: wrap;
        padding: 0 10px;
    }

    .contacts {
        margin-bottom: 10px;
    }

    .slider_btn__wrapper {
        max-width: 280px;
    }
}